h3.filtros-title Ordenar:
ul.list-group.lista-filtros-principales
  li.list-group-item
    .radio.radio-filtros
      input#radio3(type='radio', name='radio2', value='option1')
      label(for='radio3')
        | Relevancia
  li.list-group-item
    .radio.radio-filtros
      input#radio2(type='radio', name='radio2', value='option1')
      label(for='radio2')
        | Menor precio
  li.list-group-item
    .radio.radio-filtros
      input#radio1(type='radio', name='radio2', value='option1')
      label(for='radio1')
        | Mayor precio
h3.filtros-title Filtrar:
div.contenedor-filtros-secundarios
  div.filtros-contenedor
    div.filtros-secundario
      h3
        a Categoría
      .clear
        ul.sub-filtros
          li.sub-filtros-item
            a
              label
                | Categoría 1
              span.number-products-filters (3)
          li.sub-filtros-item
            a
              label
                | Categoría 1
              span.number-products-filters (3)
          li.sub-filtros-item
            a
              label
                | Categoría 1
              span.number-products-filters (3)
          li.sub-filtros-item
            a
              label
                | Categoría 1
              span.number-products-filters (3)
  div.filtros-contenedor
    div.filtros-secundario
      h3
        a Marca
      .clear
        ul.sub-filtros
          li.sub-filtros-item
            .checkbox
              input#checkbox5(type='checkbox')
              label(for='checkbox5')
                | Marca 1
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox6(type='checkbox')
              label(for='checkbox6')
                | Marca 2
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox7(type='checkbox')
              label(for='checkbox7')
                | Marca 3
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox8(type='checkbox')
              label(for='checkbox8')
                | Marca 4
                span.number-products-filters (3)
  div.filtros-contenedor
    div.filtros-secundario
      h3
        a Precio
      .clear
        ul.sub-filtros
          li.sub-filtros-item
            .checkbox
              input#checkbox9(type='checkbox')
              label(for='checkbox9')
                | $100 - $200
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox10(type='checkbox')
              label(for='checkbox10')
                | $300 - $400
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox11(type='checkbox')
              label(for='checkbox11')
                | $500 - $600
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox12(type='checkbox')
              label(for='checkbox12')
                | $700 - $800
                span.number-products-filters (3)
  div.filtros-contenedor
    div.filtros-secundario
      h3
        a Color
      .clear
        ul.sub-filtros
          li.sub-filtros-item
            .checkbox
              input#checkbox13(type='checkbox')
              label(for='checkbox13')
                | Rojo
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox14(type='checkbox')
              label(for='checkbox14')
                | Azul
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox15(type='checkbox')
              label(for='checkbox15')
                | Negro
                span.number-products-filters (3)
          li.sub-filtros-item
            .checkbox
              input#checkbox16(type='checkbox')
              label(for='checkbox16')
                | Amarillo
                span.number-products-filters (3)