div.row
	div.col-xs-12.contador-productos.no-margin
		.col-xs-8.ver-contador.no-margin
			span 1,200 Resultados
		.col-xs-4.btn-filtro.no-margin.pull-right
			button.btn.btn-lg.btn-accion-filtro(type='button', data-toggle='modal', data-target='#modalFiltros')
				span
					| Filtrar
