div.row
	div.col-xs-12.contador-productos
		.col-xs-6.ver-contador
			span 1,200 Resultados
		.col-xs-4.btn-filtro
			button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#modalFiltros')
			| Filtrar
