div(class="col-md-6")
	p(class="upper-text" itemprop="name") Jersey Nike Barcelona Local para Caballero
div(class="col-md-6")
	div(class="prod-model-text") Código de Producto 
		span(itemprop="sku") 1036094943