#myModal2.modal.fade.bs-example-modal-lg2(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel2', aria-hidden='true')
      .modal-size.modal-dialog.modal-lg
        .modal-size.modal-content
          .col-md-12.bg-Modal(data-dismiss='modal')
            p <  REGRESAR
          .descripton-product.center-img-modal
            h4 Jersey Nike Barcelona Local para Caballero
            hr.divider
            ul.bg-pdp-cell
              span(itemprop='description')
                p
                ol#detalle_producto_bullets
                  li Disciplina: Futbol.
                  li Género: Caballero.
                  li Marca: Nike.
                  li Modelo: 658794-422.
                  li Composición: Poliéster.
                  li
                    | Tipo de aplicaciones: Jersey para futbol de confección resistente con escudo de club deportivo y logo de marca bordados. Cuello V, manga corta, diseño ligero y cómodo que provee amplitud de movimiento.
                  li
                    | Lavado: A mano o máquina con agua fría. No usar detergentes agresivos ni blanqueadores.
                  li Número de piezas: 1.
                  li Origen: Importado.
                p