.row
      p(class="separator-pdp-buttons-none")  
      .list-group
        .col-md-12
          a.list-group-item(data-toggle='modal', data-target='.bs-example-modal-lg2')
            .row
              .col-md-6
                h4.list-group-item-heading Descripción
              .col-md-6
                | Jersey Nike Barcelona Local para Caballero
              .img-arrow
                img(src='/mobileAssets/images/arrow_forward.png')
        .col-md-12
          a.list-group-item.size-pago(data-toggle='modal', data-target='.bs-example-modal-lg3')
            .row
              .col-xs-10
                h4.list-group-item-heading Opciones de Pago
              .img-arrow
                img(src='/mobileAssets/images/arrow_forward.png')
        p(class="separator-pdp-buttons")  
      // Div Modal Preview Description
      #myModal2.modal.fade.bs-example-modal-lg2(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel2', aria-hidden='true')
        .modal-size.modal-dialog.modal-lg
          .modal-size.modal-content
            .col-md-12.bg-Modal(data-dismiss='modal')
              p <  REGRESAR
            .descripton-product.center-img-modal
              h4 Jersey Nike Barcelona Local para Caballero
              hr.divider
              ul.bg-pdp-cell
                span(itemprop='description')
                  p(class="separator-pdp-buttons")
                  ol#detalle_producto_bullets
                    li 
                      p(class="resalte") Disciplina: 
                      p Futbol.
                    li 
                      p(class="resalte") Género: 
                      p Caballero.
                    li 
                      p(class="resalte") Marca: 
                      p Nike.
                    li 
                      p(class="resalte") Modelo: 
                      p 658794-422.
                    li 
                      p(class="resalte") Composición: 
                      p Poliéster.
                    li
                      p(class="resalte") Tipo de aplicaciones: 
                      p Jersey para futbol de confección resistente con escudo de club deportivo y logo de marca bordados. Cuello V, manga corta, diseño ligero y cómodo que provee amplitud de movimiento.
                    li
                      p(class="resalte") Lavado: 
                      p A mano o máquina con agua fría. No usar detergentes agresivos ni blanqueadores.
                    li 
                      p(class="resalte") Número de piezas: 
                      p 1.
                    li 
                      p(class="resalte") Origen: 
                      p Importado.
                  p(class="separator-pdp-buttons")
      #myModal3.modal.fade.bs-example-modal-lg3(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel2', aria-hidden='true')
        .modal-size.modal-dialog.modal-lg
          .modal-size.modal-content
            .col-md-12.bg-Modal(data-dismiss='modal')
              p < REGRESAR
            .descripton-product.center-img-modal
              h4 Opciones de Pago
              hr.divider
              .bg-tarjetas
                ul
                  li
                    img(src='/mobileAssets/images/card_liver1.png')
                  li
                    img(src='/mobileAssets/images/card_liver2.png')
                  li
                    h6
                      b Con tarjetas Liverpool
              p  
              ul.bg-pdp-cell
                li(type='disc')
                  p
                    | 20% de descuento - presupuesto
                    | Liverpool/Fábricas.
                li(type='disc')
                  p
                    | 20% de descuento - 9 meses sin
                    | intereses.
                li(type='disc')
                  p 9 meses sin intereses.
              hr.divider
              .bg-tarjetas
                ul
                  li
                    img(src='/mobileAssets/images/card_visa.png')
                  li
                    img(src='/mobileAssets/images/card_master.png')
                  li
                    h6
                      b Otras Tarjetas
              p  
              ul.bg-pdp-cell
                li(type='disc')
                  p
                    | 20% de descuento - cuenta corriente
                    | externas.
                li(type='disc')
                  p 20% de descuento.
                li(type='disc')
                  p 6 meses sin intereses.