link(rel='parent', href='wildcats.htm', target='_blank')
link(rel='stylesheet', type='text/css', href='/mobileAssets/css/bootstrap3/pdp-style.css')
link(rel='stylesheet', type='text/css', href='/mobileAssets/css/bootstrap3/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/mobileAssets/css/bootstrap3/bootstrap-select.min.css')
link(rel='stylesheet', type='text/css', href='/mobileAssets/css/bootstrap3/star-rating.css')
link(rel='stylesheet', type='text/css', href='/mobileAssets/css/bootstrap3/bootstrap-theme.css')
link(rel='stylesheet', type='text/css', href='/mobileAssets/css/bootstrap3/header-tyle.css')
link(rel='stylesheet', type='text/css', href='/mobileAssets/css/bootstrap3/sprite_movil.css')
link(rel='stylesheet', type='text/css', href='/mobileAssets/css/pdpheader.css')
link(rel="stylesheet" type="text/css" href="/mobileAssets/css/bootstrap3/header/header.css")
link(rel="stylesheet" type="text/css" href="/mobileAssets/css/bootstrap3/header/animating-menuicn/style.css")
link(rel="stylesheet" type="text/css" href="/mobileAssets/css/bootstrap3/header/animating-menuicn/font-awesome.min.css")
link(rel="stylesheet" type="text/css" href="/mobileAssets/css/bootstrap3/header/style-font.css")
link(rel="stylesheet" type="text/css" href="/mobileAssets/css/bootstrap3/plp_b3.css")
link(rel="stylesheet" type="text/css" href="/mobileAssets/css/owl.carousel.css")
link(rel="stylesheet" type="text/css" href="/mobileAssets/css/owl.theme.css")
link(rel="stylesheet" type="text/css" href="/mobileAssets/photoswipe/photoswipe.css")
link(rel="stylesheet" type="text/css" href="/mobileAssets/photoswipe/default-skin/default-skin.css")
link(href='/mobileAssets/css/pdpdevice.css', rel='stylesheet')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/jquery-1.11.2.min.js')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/bootstrap.min.js')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/pdp-controller.js')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/jquery.mobile.custom.min.js')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/bootstrap-select.min.js')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/star-rating.js')
script(src='/mobileAssets/js/bootstrap3/validator.js')
script(type='text/javascript', src='/mobileAssets/js/akam_image_handler.js')
script(type='text/javascript', src='/mobileAssets/js/md5.js')
script(type='text/javascript', src='/mobileAssets/js/script_filler.js')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/owl.carousel.js')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/listingTemp.js')
script(type='text/javascript', src='/mobileAssets/photoswipe/photoswipe-ui-default.min.js')
script(type='text/javascript', src='/mobileAssets/photoswipe/photoswipe.min.js')
script(type='text/javascript', src='/mobileAssets/js/skuVariants.js')
script(type='text/javascript', src='/mobileAssets/js/photoswipe.js')
script(type='text/javascript', src='/mobileAssets/js/shoppingCart.js')
script(type='text/javascript', src='/mobileAssets/js/bootstrap3/cart.js')
script(type='text/javascript', src='/mobileAssets/js/endeca_common.js')
script(type='text/javascript', src='/mobileAssets/js/endeca-auto-suggest.js')
script(type='text/javascript', src='/mobileAssets/js/jquery-ui.js')
script(src='/mobileAssets/js/jquery.carouFredSel-6.2.0-packed.js')
script(src='/mobileAssets/js/jquery.jscrollpane.min.js')
script(type='text/javascript', src='/mobileAssets/js/global.js')
script(src='/mobileAssets/js/jquery.validate.js')
script(type='text/javascript', src='/mobileAssets/js/jquery.form.js')
script(type='text/javascript', src='/mobileAssets/js/fancybox_all.js')
script(type='text/javascript', src='/mobileAssets/js/LP_Custom.js')
script(type='text/javascript', src='/mobileAssets/js/analytics.js')

