//WAP Enhancements New Pinch Zoom Gallery 
div(style='min-height: 300px;')
    #demo
        .container
          .row
            .span12
              #owl-demo.owl-carousel
                .item.centerImg(href="/mobileAssets/images/products/chamara-nike-brasil.jpg", data-size="1600x1600", data-med='/mobileAssets/images/products/chamara-nike-brasil.jpg', data-med-size='600x400', itemprop="contentUrl" )
                  img.lazyOwl(data-src='/mobileAssets/images/products/chamara-nike-brasil.jpg', alt='chamara-nike-brasil')
                .item.centerImg(href="/mobileAssets/images/products/Chamara-nike-cfm.jpg", data-size="600x400", data-med='/mobileAssets/images/products/Chamara-nike-cfm.jpg', data-med-size='600x400', itemprop="contentUrl" )
                  img.lazyOwl(data-src='/mobileAssets/images/products/Chamara-nike-cfm.jpg', alt='Chamara-nike-cfm')
                .item.centerImg(href="/mobileAssets/images/products/Chamara-nike-fcb.jpg", data-size="600x400", data-med='/mobileAssets/images/products/Chamara-nike-fcb.jpg', data-med-size='600x400', itemprop="contentUrl" )
                  img.lazyOwl(data-src='/mobileAssets/images/products/Chamara-nike-fcb.jpg', alt='Chamara-nike-fcb')
                .item.centerImg(href="/mobileAssets/images/products/Jersey-adidas-chivas.jpg" data-size="600x400", data-med='/mobileAssets/images/products/Jersey-adidas-chivas.jpg', data-med-size='600x400' itemprop="contentUrl" )
                  img.lazyOwl(data-src='/mobileAssets/images/products/Jersey-adidas-chivas.jpg', alt='Jersey-adidas-chivas')
                .item.centerImg(href="/mobileAssets/images/products/Jersey-nike-fcb.jpg", data-size="600x400", data-med='/mobileAssets/images/products/Jersey-nike-fcb.jpg', data-med-size='600x400', itemprop="contentUrl" )
                  img.lazyOwl(data-src='/mobileAssets/images/products/Jersey-nike-fcb.jpg', alt='Jersey-nike-fcb')
                .item.centerImg.videoSlide(href="/mobileAssets/images/products/Jersey-nike-fcb.jpg", data-size="600x400")
                  iframe(width='380', height='245', src='http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1')

    // Root element of PhotoSwipe. Must have class pswp.
    .pswp(tabindex='-1', role='dialog', aria-hidden='true')
      //
        Background of PhotoSwipe.
        It's a separate element as animating opacity is faster than rgba().
      .pswp__bg
      // Slides wrapper with overflow:hidden.
      .pswp__scroll-wrap
        //
          Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on.
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item
        // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            // Controls are self-explanatory. Order can be changed.
            .pswp__counter
            button.pswp__button.pswp__button--close(title='Close (Esc)')
            button.pswp__button.pswp__button--share(title='Share')
            button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
            button.pswp__button.pswp__button--zoom(title='Zoom in/out')
            // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
            // element will get class pswp__preloader--active when preloader is running
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut
          .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
            .pswp__share-tooltip
          button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
          button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
          .pswp__caption
            .pswp__caption__center
