div(class="precios_producto finalPrice col-md-6")
	div(class="subset-pricing plp-prices row")
		div(class="col-xs-4")
			p(class="precio-tachado-modulo") 1,499
		div(class="col-xs-8")
			p(class="newprice") 1,274