div(class="col-md-12")
	form
		a.popover-show(tabindex='0', data-toggle='popover', data-trigger='focus', title='Aviso', data-content="Para calificar primero <a href='javascript: void(0);' data-toggle='modal' data-target='#myLogginAlert' title='iniciar sesión'>Inicia sesión</a>")
			input#input-21f(type="number" value="4.4" disabled="true" class="rating" min="0" max="5" step="0.5" data-size="xs")