doctype html
input#session_Timeout(type='hidden', value='Y')
// Start: Html
html(lang='en')
  // Start: Head
  head
    include ./common/metas.jade
    include ./includes-home/includes-css-home.jade
    // Include the css file using Pagename Include Tag in Jsp
    // Start: liverpool-page-content
    head
      meta(charset='utf-8')
      title Liverpool
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
      meta(name='description', content='Liverpool')
      meta(name='author', content='Liverpool')
      meta(name='format-detection', content='telephone=no')
      // <link rel="stylesheet" href="/mobileAssets/css/jquery.raty.css">
      // <link rel="stylesheet" type="text/css" href="/mobileAssets/css/bootstrap3/header-tyle.css"/>
      link(href='/mobileAssets/css/device.css?test=1111', rel='stylesheet')
      // Google Tag Manager
      script.
        window.onload = function(){
        dataLayer.push({ 'category':'Home',
        'subcategory':'Home',
        'event':'contentGroup'
        });
        }
    // End: Head
    // Start: Body
  body
    // start: wrapper
    .wrapper
      // Start: header
      include ./includes-home/header-home.jade
      script(type='text/javascript', charset='utf-8', src='/mobileAssets/js/atgsvcs.js')
      .liverpoolpage-content.liverpool-home
        input#showLoginPopup(type='hidden', name='showLoginPopup', value='')
        // Start: home-banner-content bannerCarouselTargeter.jsp
        link(rel='stylesheet', type='text/css', href='/mobileAssets/css/device.css', media='screen')
        // Start: home-banner
        include ./includes-home/carousel_banner_content.jade
        // Start: cat-brands-slider  departmentsTargeter.jsp
        .lrpl-sub-banner-slider.container-fluid.globalslidercontainer
          input.itemCount(type='hidden', hreflang='3', value='6')
          .lrpl-slider-leftarrow.prev
          ul.globalslider
          .lrpl-slider-rightarrow.next
        // End: cat-brands-slider
        // Start :brand promo slot
        include ./includes-home/main-promo-banners.jade
        .content-container
        // End : promo product slot
        // Start : recommended products carousel
        // Start: product-carousel-slot
        #cs-cfg.notranslate.displayNone(style='display: none;')
          dl.cs-cfg.displayNone(style='display: none;')
            dt retailerId
            dd 8ba3f9f2
            dt customerId
            dd 1672614357
            dt view
            dd
        .row-fluid
          include ./includes-plp/recomendations.jade
      input#recm_eventCategory(type='hidden', value='home', name='recm_eventCategory')
      // End: liverpool-page-content
      .clear
      // Start: footer
      include ./includes-plp/footer-plp.jade
        // footer bottom ends
      // Global Search
      .page-overlay
      #userLoginPopUp.hide.modal.fade.view-promo-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      #page-loading.hidden-phone
        div
          img#bodyloader(src='/mobileAssets/images/icons/ajax-loader.gif', alt='ajaxloader')
      #box-overlay-first.hidden-phone
      include ./includes-plp/footer-javascript-includes.jade
  // End: Body
  // End: Html
