html(lang='en')
  head
  body
    input#session_Timeout(type='hidden', value='Y')
    // Start: Html
    // Start: Head
    include ./home/includes.jade
    // End: Head
    // Start: Body
    // start: wrapper
    .wrapper
     //Start: header
     include ./home/header.jade
     include ./home/content.jade
     include ./home/footer.jade
     include ./home/globalsearch.jade
     include ./home/includes-footer.jade