#banner-slider
		ul(class="baner-content")
			li
				img(src="http://www.liverpool.com.mx/assets/web/images/targeted_promotions/es/bc_080216feb_m.jpg", alt="14 de febrero - Amo ser parte de tu vida")
			li
				img(src="http://www.liverpool.com.mx/assets/web/images/targeted_promotions/es/bc_080216lb_m.jpg", alt="Línea blanca")
			li
				img(src="http://www.liverpool.com.mx/assets/web/images/targeted_promotions/es/bc_080216_mult_m.jpg", alt="Multimedia")
			li
				img(src="http://www.liverpool.com.mx/assets/web/images/targeted_promotions/es/bc_080216_mueb_m.jpg", alt="Muebles")
			li
				img(src="http://www.liverpool.com.mx/assets/web/images/targeted_promotions/es/bc_080216_beb_m.jpg", alt="Bebes")