footer.footer
  .footer-top
    .footer-header
      .footer-schedules
        .row-fluid
          .span12
            .span2.footer-textleft Horarios tiendas: Lun - Dom | 11am - 9pm
            .span3.footer-imageleft
              a(href='/tiendas/localizador.html')
                img(src='/mobileAssets/images/icons/store-locator-hover-icon1.png', alt='X')
              |  Mis tiendas
    .footer-contact
      .row-fluid
        | Ventas por teléfono 
        span
          a(href='tel:5262 9999 ') 5262 9999 
          | 
          a(href='tel:018007135555')
            | 01                                                                                                                 800 713 5555
  .clear
  // footer top ends
  .footer-bottom
    .row-fluid.footerbtcontent
      .span12
        .span3
          .sub-section
            h3.mt0
              font(size='+0')
                font(size='+0')
                  font
                    font
                      a(href='/tienda/m/users/credit/creditLandingPage.jsp')
                        | Crédito                                                                                                                                                                                                                 Liverpool
            .phone-hide
              p
                a(href='/tienda/m/users/credit/creditLandingPage.jsp') Pago en línea.
              p
                a(href='/tienda/m/users/credit/creditLandingPage.jsp') Servicios.
              p
                a(href='https://www.liverpool.com.mx/tienda/m/users/credit/card-detail.jsp') Conoce más sobre tu tarjeta.
              p
                a(href='/tienda/m/users/credit/creditLandingPage.jsp') Ley de transparencia.
              p
                a(href='/tienda/m/users/credit/creditLandingPage.jsp') Agrega tarjeta.
        .span3
          .sub-section
            h3.mt0
              font(size='+0')
                font(size='+0')
                  font
                    font
                      a
                        | Mesa                                                                                                                                                                                                                 de regalos
            .phone-hide
              p
                a(href='/tienda/m/giftregistry/giftRegistry.jsp?eventNo=1') Encuentra tu mesa de regalos.
              p
                a(href='/tienda/m/giftregistry/giftRegistry.jsp?eventNo=1') Busca por evento.
        .span3
          .sub-section
            h3.mt0
              font(size='+0')
                font(size='+0')
                  font
                    font
                      a
                        | Tiempo                                                                                                                                                                                                                 aire
            .phone-hide
              p
                a(href='/tienda/m/checkout/airtimeTicket.jsp') Compra tiempo aire para cualquier compañía telefónica en México.
        .span3
          .sub-section
            h3.mt0
              font(size='+0')
                font(size='+0')
                  font
                    font
                      | Soporte                                                                                                                                                                                                 al cliente
            .phone-hide
              p
                a(href='/tienda/m/users/orderHistory.jsp') Seguimiento a pedido.
              p
                a(href='/tienda/m/gift-registry?pram2=collapseOne#collapseSeven') Ayuda al cliente.
              p
                a(href='/tienda/m/gift-registry?pram2#collapseFour') Preguntas frecuentes.
              p
                a(href='/tienda/m/help_mobile') Cambios, devoluciones y cancelaciones.
              p
                a(href='/ayuda/click&collect.html') Click & Collect 
        .span3
          .sub-section
            a(href='http://evaluanos.liverpool.com.mx/', target='_blank')
              h3.mt0
                font(size='+0')
                  font(size='+0')
                    font
                      font Evalúanos
            .phone-hide  
    .bootom-footer
      ul.breadcrumb.bread-terms
        li
          a(href='http://www.liverpool.com.mx/ayuda/terminos-y-condiciones.html') Términos y condiciones
          span.divider /
        li
          a(href='http://www.liverpool.com.mx/ayuda/terminos-y-condiciones.html') Aviso de privacidad
      ul.breadcrumb.bread-terms.tmc_wap_footer
        li
          a(target='_self', href='http://www.liverpool.com.mx/tienda?param=web') Ir a Sitio Completo
      ul.breadcrumb.bread-rights
        li
          a.derechos(href='#') 2015
          span.divider /
        li
          a.derechos(href='#') Liverpool
          span.divider /
        li
          a.derechos(href='#')
            | Todos los derechos                                                                                                                 reservados D.R.
  // Included google analytics in footer
  script.
    dataLayer = [];
  noscript
    | <iframesrc ="//www.googletagmanager.com/ns.html?id=GTM-MDXLRB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MDXLRB');
  // footer bottom ends