header.header
  // start: header navigation
  .row-fluid
    .header-navigation-main
      #headernev.header-navigation.navbar.row-fluid(data-spy='affix', data-offset-top='100')
        .header-navigation-left.span1
          //Icono:  hamburguer menu líneas menú pricipal
          #menu_icn
          //button.btn.btn-navbar(type='button')
            //span.icon-bar
            //span.icon-bar
            //span.icon-bar
            //span.navbtn-txt Navegar
        // start: header navigation right content
        .header-navigation-right.span2
          a.logo(href='/tienda/m', title='liverpool')
            #logo_icn
          //.logo.pull-left
            a(href='/tienda/m', title='liverpool')
              img(src='/mobileAssets/images/logo.png', alt='Liverpool - es parte de mi vida', title='Liverpool - es parte de mi vida')
          #testHeaderCartContent
            input#mobilePage_contextPath(type='hidden', value='/tienda/m')
            .header-nav-utility.pull-left.hidden-phone
              .row-fluid
                .span4.pull-right.header-loginlinks
                  .row-fluid
                    // <div id="testHeaderCartContent">
                    //
                      <div class="span7 menu-utility">
                      <ul>
                      <li class="shopping-bag">
                      <a class="cart-link touchEvent" href="/tienda/m/cart/cart.jsp" title="cart" rel="shopping-cart.jsp"><span>cart</span><div class="cart-bubble">(0)</div></a>
                      <div class="cart-link-arw">
                      </div>
                      </li>
                      <li>
                      <a class="store-locator-link" href="javascript:void(0)" title="store locator">store locator</a>
                      </li>
                      <li>
                      <a class="search-icon" href="javascript:void(0)" title="search">search</a>
                      </li>
                      </ul>
                      </div>
                    .span7.menu-utility
                      ul.headerrightmenu
                        li.shopping-bag
                          a.cart-link.touchEvent(href='/tienda/m/cart/cart.jsp', title='cart', rel='shopping-cart.jsp')
                            span
                              | cart
                            .badge
                              | 0
                          .cart-link-arw
                          // start: mini cart container
                          section.mini-cart-container.hidden-phone.mini-cont
                            .mini-cart-noitems
                              #minicart_noitem
                                span 1
                                span elemento añadido a su bolsa
                              p No tienes productos
                          section.mini-cart-container.hidden-phone
                            .mini-cart-noitems.hide
                            // start: mini cart content
                          // end: mini cart container
                    // </div>
            .lp-header-search-icon
              a.cart-link.visible-phone.touchEvent(href='/tienda/m/cart/cart.jsp', title='cart', rel='/tienda/m/cart/cart.jsp')
                //Icono: bolsa carrito de compra
                div#bag_icn
                //span cart
                .cart-bubble 0
          #homephonesearchipad.hidden-phone.input-group.homesearch-position
            form(onsubmit="if(this.s.value == '')return false;", autocomplete='off', action='/tienda/m/', name='Search', target='_top')
              //
                <input type="button" value="cl" >
                <input type="submit" value="" class="btn-search">
              input#busca.field-search.cross_site_script_val_pop.valid.form-control(type='text', name='s', autocomplete='off', placeholder='¿Qué estás buscando?')
              //
                <button class="btn" type="button">
                <img src="/mobileAssets/images/icons/mega-menu-close.png" alt="X" />
                </button>
              button#search_wh_icn(type='submit')
              //span.input-group-btn.btn-Searc-head
                button.header_search-button(type='submit')
              //
                <div class="input-append">
                <input class="field-search cross_site_script_val_pop valid" id="appendedInputButtons" type="text">
                <button class="btn" type="button">Close</button>
                <input type="submit" value="" class="btn btn-search">
                </div>
              //
                <div class="visible-phone lp-search-cont">
                <div class="row-fluid input-append">
                <input class="input-block-level field-search valid cross_site_script_val_pop" id="busca" type="text" name="s" autocomplete="off" placeholder="Que estas buscando?" >
                <input type="submit" class="btn btn-search" value="search" />
                </div>
                </div>
              input#hiddenSearchValues(min='3', type='hidden', data-url='', data-caturl='/shop', data-path='/tienda/m', data-locale='es__MX', data-imageurl='http://media.liverpool.com.mx/web/images/products/es_MX')
              #typeahead(style='display: none;')
                #type-main-list
                  #type-ver-todos
          .hidden-phone.mobile-menu-cont.lp-mble-cont
            ul
              li.lp-loggedin-icon
                a.myaccount-icon(href='javascript:void(0)', title='Log In')
                  i.ipadhome-user-icon
                  |                   Iniciar sesión
              li.lp-loggedin-icon
                i.home-store-icon.storeicon
                a.locallizecont(title='Store Locator', href='/tienda/m/browse/store.jsp') Localiza tu tienda
        .pdp_addtocartConfirm
          span 1 elemento añadido a su bolsa
        // end: header navigation right content catalogNavigation.jsp
        // Modified for Performance Defect 5365 - Replace LPBrowseCacheDroplet with OOTB Cache Droplet
        //Start: Mega Menu
        include ./mega-menu.jade
        //End: Mega Menu
      .visableinphone
        .mobile-menu-cont.lp-mble-cont
          .buttons-header
            .login-home.myaccount-icon
              //icono botón para ir a iniciar sesión
              div#sesion_h_icn
              span Iniciar sesión
            .shops-home
              a(title='Store Locator', href='/tienda/m/browse/store.jsp')
                //Icono: botón para ir a localizador
                div#locator_h_icn
                span Localiza tu tienda
        .input-group.homesearch-position
          form(onsubmit="if(this.s.value == '')return false;", autocomplete='off', action='/tienda/m/', name='Search', target='_top')
            //
              <input type="button" value="cl" >
              <input type="submit" value="" class="btn-search">
            input#busca.field-search.cross_site_script_val_pop.valid.form-control(type='text', name='s', autocomplete='off', placeholder='¿Qué estás buscando?')
            //
              <button class="btn" type="button">
              <img src="/mobileAssets/images/icons/mega-menu-close.png" alt="X" />
              </button>
            button#search_wh_icn(type='submit')
            //span.input-group-btn.btn-Searc-head
              button.header_search-button(type='submit')
            //
              <div class="input-append">
              <input class="field-search cross_site_script_val_pop valid" id="appendedInputButtons" type="text">
              <button class="btn" type="button">Close</button>
              <input type="submit" value="" class="btn btn-search">
              </div>
            //
              <div class="visible-phone lp-search-cont">
              <div class="row-fluid input-append">
              <input class="input-block-level field-search valid cross_site_script_val_pop" id="busca" type="text" name="s" autocomplete="off" placeholder="Que estas buscando?" >
              <input type="submit" class="btn btn-search" value="search" />
              </div>
              </div>
            input#hiddenSearchValues(min='3', type='hidden', data-url='', data-caturl='/shop', data-path='/tienda/m', data-locale='es__MX', data-imageurl='http://media.liverpool.com.mx/web/images/products/es_MX')
            #typeahead(style='display: none;')
              #type-main-list
                #type-ver-todos
.clear
// end: header