html(lang='en')
  head
  body
    input#session_Timeout(type='hidden', value='Y')
    // Start: Html
    // Start: Head
    include ./includes.jade
    // End: Head
    // Start: Body
    // start: wrapper
    .wrapper
     //Start: header
     include ./header.jade
     include ./content.jade
     include ./footer.jade
     include ./globalsearch.jade
     include ./includes-footer.jade