meta(http-equiv='content-Type', content='text/html; charset=utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(http-equiv='Expires', content='never')
meta(http-equiv='CACHE-CONTROL', content='Public')
meta(http-equiv='content-language', content='en,fr')
meta(http-equiv='content-style-type', content='text/css')
meta(name='geo.placename', content='Mexico')
meta(name='geo.position', content='19.4326080,-99.1332080')
meta(name='geo.region', content='Mexico City, Mexico')
meta(name='ICBM', content='19.4326080,-99.1332080')
meta(name='author', content='www.liverpool.com.mx')
meta(name='DC.Creator', content='Liverpool Mexico')
meta(name='subject', content='Retail')
meta(name='Geography', content='Mario Pani 200. Col. Santa Fe. Delegacion Cuajimalpa de Morelos. Mexico D.F. C.P. 05109')
meta(name='Language', content='Spanish')
meta(name='copyright', content='Liverpool es parte de mi vida ï¿½ 2012')
meta(name='Designer', content='Carolina Collepardo Guevara y Andres Guerrero Alvarez')
meta(name='Publisher', content='Ventas a distancia, Liverpool.')
meta(name='Revisit-After', content='1 day')
meta(name='distribution', content='Global')
meta(name='city', content='Ciudad de Mexico')
meta(name='country', content='Mexico')
meta(name='abstract', content='Tienda departamental')
meta(name='rating', content='General')
meta(name='classification', content='Online Store')
title Liverpool es parte de MI vida
meta(name='description', content='Tienda online con la selección más grande en tecnología, línea blanca, computo, smarthphones, juguet')
meta(name='keywords', content='Liverpool, Liverpool.com, tecnología, línea blanca, computo, smarthphones, juguetes, moda, herramien')
meta(name='google-site-verification', content='vckqEqUbcdhJbWvi_BrHeL07Jn2P6_FYV0L_qMyFkQA')
meta(name='Robots', content='NOINDEX,NOFOLLOW')
link(rel='canonical', href='http://www.liverpool.com.mx/tienda/')
meta(property='og:title', content='Liverpool es parte de MI vida')
meta(property='og:type', content='Website')
meta(property='og:description', content='Tienda online con la selección más grande en tecnología, línea blanca, computo, smarthphones, juguet')
meta(property='og:url', content='http://www.liverpool.com.mx/tienda/m/')
meta(property='og:image', content='http://www.liverpool.com.mxhttp://www.liverpool.com.mx/assets/images/logos/liverpool_logo.gif')
meta(property='og:site_name', content='Liverpool')
meta(property='fb:admins', content='140142041216')
meta(property='fb:page_id', content='https://www.facebook.com/liverpoolmexico')
meta(charset='utf-8')
title Liverpool es parte de MI vida
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='description', content='Liverpool')
meta(name='author', content='Liverpool')
meta(name='format-detection', content='telephone=no')
meta(http-equiv='HandheldFriendly', content='true')
//
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/liverpool.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/liverpool.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/liverpool.png" />
  <link rel="apple-touch-icon-precomposed" href="img/ddf.png" />
link(rel='shortcut icon', href='/mobileAssets/images/icons/favicon.ico')
// liverpool styles Includes
link(href='/mobileAssets/css/bootstrap.min.css', rel='stylesheet', media='all')
link(href='/mobileAssets/css/fonts.css', rel='stylesheet', media='all')
link(href='/mobileAssets/css/style.css', rel='stylesheet', media='all')
link(href='/mobileAssets/css/jquery.jscrollpane.css', rel='stylesheet')
link(href='/mobileAssets/css/category.css', rel='stylesheet')
link(href='/mobileAssets/css/home/sprite-images.css', rel='stylesheet', media='all')
//bxslider
link(rel="stylesheet", href="/mobileAssets/css/bootstrap3/jquery.bxslider.css" , media="all")
link(rel="stylesheet", href="/mobileAssets/css/bootstrap3/home-banner-slider.css", media="all")
// Include the css file using Pagename Include Tag in Jsp
// Start: liverpool-page-content
meta(charset='utf-8')
title Liverpool
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='description', content='Liverpool')
meta(name='author', content='Liverpool')
meta(name='format-detection', content='telephone=no')
// <link rel="stylesheet" href="/mobileAssets/css/jquery.raty.css">
// <link rel="stylesheet" type="text/css" href="/mobileAssets/css/bootstrap3/header-tyle.css"/>
link(href='/mobileAssets/css/device.css?test=1111', rel='stylesheet')
// Google Tag Manager
script.
  window.onload = function(){
  dataLayer.push({ 'category':'Home',
  'subcategory':'Home',
  'event':'contentGroup'
  });
  }