//WAP enhacements Modal for promos was included
#modalCheckOutPromos.modal-checkout.modal.modal-fullscreen(tabindex='-1', role='dialog',data-easein="slideRightIn", aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        span.title_modal.title_modal_promo Promociones
        div.cerrar-modal-login.cerrar-modal-checkout
          span CERRAR
          i.icon-liv-close.close3
      .modal-body
          .from_promotion_container.row
              ul#fcbklist.listpromos.col-xs-12
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval1')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval2')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.itemselected.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval3')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval4')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp; 
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval5')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp; 
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval6')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval1')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval2')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.itemselected.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval3')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval4')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp; 
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval5')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp; 
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval6')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval1')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval2')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.itemselected.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp; 
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval3')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp;
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval4')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp; 
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval5')
                  li.listnoselected.col-xs-12
                    .fcbklist_item.col-xs-12
                      strong 32.00%
                      &nbsp; 
                      span.fcbkitem_text de descuento
                      &nbsp; -
                      &nbsp;
                      strong 3
                      &nbsp;
                      span.fcbkitem_text meses sin intereses
                      input(type='hidden', name='fcbklist_value[]', value='promoval6')

            