header.header.container
	div.header-container.row-fluid
		div.header-contain-left.col-xs-3.col-md-2
			div#menu-icn
				button.c-hamburger.c-hamburger--htla
					span toggle menu
		div.header-contain-middle.col-xs-6.col-md-6
			span.icon-liv-logo
		div.header-contain-right.col-xs-3.col-md-2
			.row-fluid
				div#bag-contain.col-xs-6
					span.icon-liv-bolsa
						div.cart-bubble 0
				div#search-icon-contain.col-xs-6
					span.icon-liv-search