.mega-menu-header-link
	ul
		li
			a(href="javascript:void(0);")
				span.icon-liv-home
				span.text-header-link Inicio
		li.buscar-departamento
			a(href="javascript:void(0);")
				span.icon-liv-search
				span.text-header-link Buscar por departamento
		li
			a(href="javascript:void(0);")
				span.icon-liv-micuenta
				span.text-header-link Mi cuenta
		li
			a(href="javascript:void(0);")
				span.icon-liv-manual
				span.text-header-link Mis pedidos
		li
			a(href="javascript:void(0);")
				span.icon-liv-ban-entrega-domicilio
				span.text-header-link Localiza tu tienda
		li
			a(href="javascript:void(0);")
				span.icon-liv-star-09
				span.text-header-link Lo nuevo
		li
			a(href="javascript:void(0);")
				span.icon-liv-tarjeta-solida
				span.text-header-link Crédito
		li
			a(href="javascript:void(0);")
				span.icon-liv-regalos
				span.text-header-link Mesa de regalos
		li
			a(href="javascript:void(0);")
				span.icon-liv-celular
				span.text-header-link Tiempo Aire
		li
			a(href="javascript:void(0);")
				span.icon-liv-star-09
				span.text-header-link Evalúanos