.mobile-menu-cont.lp-mble-cont
  .buttons-header.col-xs-12
    .login-home.myaccount-icon.col-xs-6
      i.icon-liv-micuenta.icon_header_account
      span Iniciar sesión
    .shops-home.store_locator_icon.col-xs-6
      a(title='Store Locator', href='http://www.liverpool.com.mx/tiendas/localizador.html')
        i.icon-liv-ban-entrega-domicilio.icon_header_locator
        span Localiza tu tienda