div#login-content
	h1 Inicia Sesión
	form
		div#content-form-login
			label Correo electrónico
			input(type="text", name="correo", value="")
			label Contraseña
			input(type="password", name="password", value="")
		div.line-title-pink
			a Olvide mi Contraseña
		button.login-pink-btn Iniciar Sesión
		button.login-gray-btn Compra sin registro
		include ./login-footer.jade