.centro_cel {
	background:
		  url("/web/images/targeted_promotions/es/html/img/bc_240913cel.jpg") 
		/*url("../img/bc_240913cel.jpg") */
		no-repeat top left;
	height: 320px;
	width: 550px;
	position: relative;
}

#bc_250913cel .bn-cn-main {
position: absolute;
width: 235px;
top: 50px;
right: 0px;



}
#bc_250913cel .bn-cn-main .bn-texto-wh-xxl {
position: relative;
margin: 0px;
display: inline-block;
font-size: 1.2em;
color:#FFF;
}

#bc_250913cel .titulo2 {
font-family: 'robotolight', arial, sans-serif;
font-weight:bold;
position: relative;
top: 10px;
margin: 0px;
display: inline-block;
font-size: 1.9em;
color:#0066CC;
}
#bc_250913cel .promo1 {
font-family: 'robotolight', arial, sans-serif;
font-weight:bold;
position: relative;
top: 10px;
margin: 0px;
display:inherit;
font-size: .8em;
color:#000;
}
#bc_250913cel .promo2 {
font-family: 'robotolight', arial, sans-serif;
font-weight:bold;
position: relative;
top: 5px;
margin: 0px;
display:inherit;
font-size: 3em;
color:#000;
}
#bc_250913cel .promo3 {
font-family: 'robotolight', arial, sans-serif;
font-weight:bold;
position: relative;
top: 0px;
margin: 0px;
display:inherit;
font-size: .8em;
color:#000;
}
#bc_250913cel .boton {
font-family: 'robotolight', arial, sans-serif;
font-weight:bold;
position: relative;
top: 10px;
margin: 0px;
display: inline-block;
font-size: 1.12em;
color:#00CCFF;
}
#bc_250913cel .restricciones {
font-family: 'robotolight', arial, sans-serif;
font-weight:bold;
position: relative;
top: 15px;
margin: 0px;
display: inline-block;
font-size: .6em;
color:#666666;
}

#bc_250913cel .bn-cn-main .mas {
position: relative;
margin: 0px;
display: inline-block;
width: 10px;
top: -8px;
left: 2px;
}

#bc_250913cel .bn-cn-main .bn-texto-wh-xxl {
position: relative;
margin: 0px;
display: inline-block;

}
#bc_250913cel .bn-texto-wh-sm {
width: 130px;
position: relative;
margin: 0px;
left: 14px;
}
#bc_250913cel .flag_{
position: absolute;
top: 190px;
background-color: #EEE;
opacity: 0.5;
right: 0px;
width: 472px;
height: 80px;

}

#bc_250913cel .p_flag_{
position: absolute;
font-size: 41px;
width: 500px;
right: -30px;
margin: 0px;
padding: 0px;
top: 205px;

}