/*a:link{
	text-decoration:none;
	}*/
	
	a{
	text-decoration:none;
	}
.centro_snc {
	background:
		url("/web/images/targeted_promotions/es/html/img/bc_260913snc.jpg")
		/*url("../img/bc_260913snc.jpg")*/
		no-repeat top left;
	height: 320px;
	width: 550px;
	position: relative;
}

#bc_260913snc .bn-cn-main {
	position: absolute;
	width: 235px;
	top: 50px;
	right: 0px;
	height: 184px;
}
#bc_260913snc .bn-cn-main .bn-texto-wh-xxl {
position: relative;
margin: 0px;
display: inline-block;
font-size: 1.4em;
color:#DC319E;
}

#bc_260913snc .seccion{
font-family: /*'robotolight',*/ arial, sans-serif;
font-weight:bold;
position: relative;
top: 0px;
margin: 0px;
display: inline-block;
font-size: 1.2em;
color:#666;
}
#bc_260913snc .promo1 {
font-family: /*'robotolight',*/ arial, sans-serif;
position: relative;
top: 10px;
margin: 0px;
display: inline-block;
font-size: 1.12em;
color:#666;
}
#bc_260913snc .promo2 {
font-family: /*'robotolight',*/ arial, sans-serif;
position: relative;
top: 10px;
margin: 0px;
display: inline-block;
font-size: 1.12em;
color:#666;
}
#bc_260913snc .boton {
font-family: /*'robotolight',*/ arial, sans-serif;
font-weight:bold;
position: relative;
top: 10px;
margin: 0px;
display: inline-block;
font-size: 1.12em;
color:#00CCFF;
}
#bc_260913snc .restricciones {
font-family: /*'robotolight',*/ arial, sans-serif;
position: relative;
top: 60px;
margin: 0px;
display: inline-block;
font-size: .6em;
color:#666666;
}

#bc_260913snc .bn-cn-main .mas {
position: relative;
margin: 0px;
display: inline-block;
width: 10px;
top: -8px;
left: 2px;
}

#bc_260913snc .bn-cn-main .bn-texto-wh-xxl {
position: relative;
margin: 0px;
display: inline-block;

}
#bc_260913snc .bn-texto-wh-sm {
width: 130px;
position: relative;
margin: 0px;
left: 14px;
}
#bc_260913snc .flag_{
position: absolute;
top: 190px;
background-color: #EEE;
opacity: 0.5;
right: 0px;
width: 472px;
height: 80px;

}

#bc_260913snc .p_flag_{
position: absolute;
font-size: 41px;
width: 500px;
right: -30px;
margin: 0px;
padding: 0px;
top: 205px;

}
