.centro_mot {
	background:
		   url("/web/images/targeted_promotions/es/html/img/bc_300913mot.jpg")
	/*url("../img/bc_300913mot.jpg")  */
		no-repeat top left;
	height: 320px;
	width: 550px;
	position: relative;
}

#bc_300913mot .bn-cn-main {
position: absolute;
width: 235px;
top: 100px;
right: 0px;



}
#bc_300913mot .bn-cn-main .bn-texto-wh-xxl {
position: relative;
font-weight:bold;
margin: 0px;
display: inline-block;
font-size: 1.2em;
color:#069;
}

#bc_300913mot .titulo2 {
font-family: 'arial', robotolight, sans-serif; 
font-weight:bold;
position: relative;
top: 4px;
margin: 0px;
display: inline-block;
font-size: 1em;
color:#666;
}
#bc_300913mot .promo1 {
font-family: 'arial', robotolight, sans-serif; 
font-weight:bold;
position: relative;
top: 12px;
margin: 0px;
display:inherit;
font-size: 1.6em;
color:#F00;
}
#bc_300913mot .promo2 {
font-family: 'arial', robotolight, sans-serif; 
font-weight:bold;
position: relative;
top: 5px;
margin: 0px;
display:inherit;
font-size: .8em;
color:#000000;
}
#bc_300913mot .promo3 {
font-family: 'robotolight', arial, sans-serif;
font-weight:bold;
position: relative;
top: 5px;
margin: 0px;
display:inherit;
font-size: 1em;
color:#06C;
}
#bc_300913mot .boton {
font-family: 'robotolight', arial, sans-serif;
font-weight:bold;
position: relative;
top: 55px;
margin: 0px;
display:inherit;
font-size: 1.12em;
color:#00CCFF;
}
#bc_300913mot .restricciones {
font-family: 'arial', robotolight, sans-serif; 
font-weight:regular;
position: relative;
top: 70px;
margin: 0px;
display:inherit;
font-size: .6em;
color:#333:
}

#bc_300913mot .bn-cn-main .mas {
position: relative;
margin: 0px;
display:inherit;
width: 10px;
top: -8px;
left: 2px;
}

#bc_300913mot .bn-cn-main .bn-texto-wh-xxl {
position: relative;
margin: 0px;
display: inline-block;

}
#bc_300913mot .bn-texto-wh-sm {
width: 130px;
position: relative;
margin: 0px;
left: 14px;
}
#bc_300913mot .flag_{
position: absolute;
top: 190px;
background-color: #EEE;
opacity: 0.5;
right: 0px;
width: 472px;
height: 80px;

}

#bc_300913mot .p_flag_{
position: absolute;
font-size: 41px;
width: 500px;
right: -30px;
margin: 0px;
padding: 0px;
top: 205px;

}