/*--------------------------------------------------*/
/*banners estilos especificos por banner
columna 1 row 1*/
/*--------------------------------------------------*/
/*a:link{
	text-decoration:none;
	}*/
	
	a{
	text-decoration:none;
	}

.bn-texto-wh-xl-med{
	text-align:center;
	}
	
.bn-text-yellow-med{
	color:#FFF;
	}




.g2-bn-c1-r1 {
	background:
		url("/web/images/targeted_promotions/es/html/img/bp02_contador02am.jpg")
		/*url("../img/bp02_contador02am.jpg")*/
		no-repeat top left;
	height: 320px;
	width: 190px;
	border: 1px solid #EEE;
	font-size: .5em;
}

.g2-bn-c1-r2 {
	background:
		url("/web/images/targeted_promotions/es/html/img/bp02_tem02.jpg")
		/*url("../img/bp02_tem02.jpg")*/
		no-repeat top left;
}

.g2-bn-c1-r3 {
	background:
		url("/web/images/targeted_promotions/es/html/img/bp02_tem03_011013.jpg")
		/*url("../img/bp02_tem03_011013.jpg")*/
		no-repeat top left;
}

.g2-caja {
	padding: 41px 0px 0px 12px;
}

.g2-caja2 {
	margin: 29px auto;
	text-align: center;
}

.g2-caja .bn-texto-gris-xl {
	color:#FFF;
	font-size: 2.6em;
	font-family: 'robotobold', arial, sans-serif;
	text-shadow: 1px 2px 3px #000;
	text-align:center;
}

.g2-caja2 .bn-texto-wh-xxl {
	text-shadow: 1px 2px 3px #000 !important;
	letter-spacing: 0px;
	line-height: .6em;
	font-size: 3.5em;
}

.g2-caja3 {
	margin: 29px auto;
	text-align: center;
}

.g2-caja3 .bn-texto-wh-xxxl {
	text-shadow: 1px 2px 3px #000 !important;
	color: #FFF;
	font-family: 'robotobold', arial, sans-serif;
	letter-spacing: 0px;
	line-height: .6em;
	font-size: 4.9em;
}

.g2-caja3 .bn-texto-wh-xxl {
	color: #E0E0E0 !important;
	font-family: 'robotobold', arial, sans-serif;
	text-shadow: 1px 2px 3px #000 !important;
}