.container
      #products.row.list-group.all_products
        include ./product-level/product-item-1.jade
        include ./product-level/product-item-2.jade
        include ./product-level/product-item-3.jade
        include ./product-level/product-item-4.jade
        include ./product-level/product-item-5.jade
        include ./product-level/product-item-6.jade

