.container
      #products.row.list-group.all_products
        include ./product-level/product-item-1-ebook.jade
        include ./product-level/product-item-1-ebook.jade
        include ./product-level/product-item-1-ebook.jade
        include ./product-level/product-item-1-ebook.jade
        include ./product-level/product-item-1-ebook.jade
        include ./product-level/product-item-1-ebook.jade
        include ./product-level/product-item-1-ebook.jade

