.lp-filtr-dept-sec
        h2 Departamento:
        span Sacos y blazers
        .filter-section.lp-filtr-sub
          input#changevalue(type='hidden', name='changevalue')
          h3.filter-list
            span.show-filter
            | Ordena Por:
          #jai.accordion-body.in
            div
              .accordion-inner
                ul.nav.nav-list.list-filter-radio
                  li
                    a(href="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=product.repositoryId');")
                      span.color_black Relevancia
                    input.inactive(type='radio', name='optionsRadios', id='', value='', checked='', onclick="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=product.repositoryId');")
                    label.inactive(for='radio1')
                      span
                        span
                ul.nav.nav-list.list-filter-radio
                  li
                    a(href="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=sortPrice|0');")
                      span.color_black Menor precio
                    input.inactive(type='radio', name='optionsRadios', id='', value='', onclick="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=sortPrice|0');")
                    label.inactive(for='radio1')
                      span
                        span
                ul.nav.nav-list.list-filter-radio
                  li
                    a(href="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=sortPrice|1');")
                      span.color_black Mayor Precio
                    input.inactive(type='radio', name='optionsRadios', id='', value='', onclick="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=sortPrice|1');")
                    label.inactive(for='radio1')
                      span
                        span
                ul.nav.nav-list.list-filter-radio
                  li
                    a(href="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=product.displayName|0');")
                      span.color_black Alfabéticamente (A a Z)
                    input.inactive(type='radio', name='optionsRadios', id='', value='', onclick="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=product.displayName|0');")
                    label.inactive(for='radio1')
                      span
                        span
                ul.nav.nav-list.list-filter-radio
                  li
                    a(href="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=product.displayName|1');")
                      span.color_black Alfabéticamente (Z a A)
                    input.inactive(type='radio', name='optionsRadios', id='', value='', onclick="javascript:refreshsorturl('/tienda/m/jerseys/N-2szi?Ns=product.displayName|1');")
                    label.inactive(for='radio1')
                      span
                        span
        // <span class="filter-close visible-phone"><img src="/mobileAssets/images/icons/mega-menu-close-hover.png"/></span>
        .lp-filtros-sec
          .clear  
          h2 Filtros:
          // <script type="text/javascript" src="/mobileAssets/js/endeca_common.js"></script>
          input(type='hidden', name='CountIsujIS', value='')
          input#existingCategoryPageUrl(type='hidden', value='/jerseys/cat480393')
          .filter-section
            h3.filter-list
              span.show-filter
              | Categoría
            .filter-lables
              .row-fluid
                a.inactive(href='/tienda/m/liga-mexicana/cat4500136')
                  .span6
                    span.refine-label  Liga Mexicana
                    span (44)
                a.inactive(href='/tienda/m/liga-española/cat4500133')
                  .span6
                    span.refine-label  Liga Española
                    span (20)
                a.inactive(href='/tienda/m/liga-inglesa/cat4500134')
                  .span6
                    span.refine-label  Liga Inglesa
                    span (15)
                a.inactive(href='/tienda/m/liga-italiana/cat4500135')
                  .span6
                    span.refine-label  Liga Italiana
                    span (15)
                a.inactive(href='/tienda/m/liga-alemana/cat4500132')
                  .span6
                    span.refine-label  Liga Alemana
                    span (10)
                a.inactive(href='/tienda/m/selección-nacional/cat4380007')
                  .span6
                    span.refine-label  Selección Nacional
                    span (2)
                a.inactive(href='/tienda/m/otras-ligas/cat4500137')
                  .span6
                    span.refine-label  Otras Ligas
                    span (6)
                a.inactive(href='/tienda/m/selecciones/cat4500138')
                  .span6
                    span.refine-label  Selecciones
                    span (12)
          // <script type="text/javascript" src="/mobileAssets/js/endeca_common.js"></script>
          input(type='hidden', name='CountIsujIS', value='')
          input#existingCategoryPageUrl(type='hidden', value='/jerseys/cat480393')
          .filter-section
            h3.filter-list
              span.show-filter
              | Marca
            .filter-lables
              .row-fluid
                .span6
                  span.refine-label ADIDAS
                  span.camparatorcount 1z141cl
                  span.filtrar_count (68)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label KAPPA
                  span.camparatorcount 1z11h9e
                  span.filtrar_count (1)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label NEW BALANCE
                  span.camparatorcount 1z12xpw
                  span.filtrar_count (2)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label NIKE
                  span.camparatorcount 1z141a8
                  span.filtrar_count (33)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label PUMA
                  span.camparatorcount 1z1418d
                  span.filtrar_count (19)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label RINAT
                  span.camparatorcount 1z13ap6
                  span.filtrar_count (2)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label SKECHERS
                  span.camparatorcount 1z10ldt
                  span.filtrar_count (4)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label UNDER ARMOUR
                  span.camparatorcount 1z13z2q
                  span.filtrar_count (10)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
              span#tempvar.tempvar  
          // <script type="text/javascript" src="/mobileAssets/js/endeca_common.js"></script>
          input(type='hidden', name='CountIsujIS', value='')
          input#existingCategoryPageUrl(type='hidden', value='/jerseys/cat480393')
          .filter-section
            h3.filter-list
              span.show-filter
              | Precio
            .filter-lables
              .row-fluid
                .span6
                  span.refine-label $100 - $500
                  span.camparatorcount 27kh
                  span.filtrar_count (2)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label $500 - $1000
                  span.camparatorcount 27ki
                  span.filtrar_count (20)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label $1,000 - $2,500
                  span.camparatorcount 27kj
                  span.filtrar_count (117)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
              span#tempvar.tempvar  
          // <script type="text/javascript" src="/mobileAssets/js/endeca_common.js"></script>
          input(type='hidden', name='CountIsujIS', value='')
          input#existingCategoryPageUrl(type='hidden', value='/jerseys/cat480393')
          .filter-section
            h3.filter-list
              span.show-filter
              | Talla
            .filter-lables
              .row-fluid
                .span6
                  span.refine-label  2X Grande
                  span.camparatorcount 1z11q1s
                  span.filtrar_count (2)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Chica
                  span.camparatorcount 1z13cnw
                  span.filtrar_count (87)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Chica 
                  span.camparatorcount 1z133s4
                  span.filtrar_count (4)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Extra Chica
                  span.camparatorcount 1z139xl
                  span.filtrar_count (11)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Extra Grande
                  span.camparatorcount 1z13cph
                  span.filtrar_count (41)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Extra Grande 
                  span.camparatorcount 1z11t87
                  span.filtrar_count (8)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Grande
                  span.camparatorcount 1z13cpi
                  span.filtrar_count (88)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Grande 
                  span.camparatorcount 1z12na6
                  span.filtrar_count (6)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Mediana
                  span.camparatorcount 1z13cpj
                  span.filtrar_count (92)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Mediana 
                  span.camparatorcount 1z0qu6g
                  span.filtrar_count (11)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
          // <script type="text/javascript" src="/mobileAssets/js/endeca_common.js"></script>
          input(type='hidden', name='CountIsujIS', value='')
          input#existingCategoryPageUrl(type='hidden', value='/jerseys/cat480393')
          .filter-section
            h3.filter-list
              span.show-filter
              | Color
            .filter-lables.minmd40
              .row-fluid
                .span6
                  span.refine-label  Amarillo
                  span.camparatorcount 1z13zin
                  span.filtrar_count (14)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Azul
                  span.camparatorcount 1z13cpg
                  span.filtrar_count (23)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Azul Marino
                  span.camparatorcount 1z13ckp
                  span.filtrar_count (2)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Blanco
                  span.camparatorcount 1z13xz8
                  span.filtrar_count (39)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Blanco Visita
                  span.camparatorcount 1z0s7kn
                  span.filtrar_count (1)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Blanco y Negro
                  span.camparatorcount 1z1351j
                  span.filtrar_count (1)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Café
                  span.camparatorcount 1z13ciq
                  span.filtrar_count (1)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Dorado
                  span.camparatorcount 1z135vl
                  span.filtrar_count (1)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Gris
                  span.camparatorcount 1z13xz7
                  span.filtrar_count (6)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
                .span6
                  span.refine-label  Gris Oscuro
                  span.camparatorcount 1z13c3z
                  span.filtrar_count (1)
                  input#queryString.queryString(name='queryString', type='hidden', value='')
                  input.inactive(type='checkbox', name='optionsRadios', id='', value='', onchange="setSelectedFacet('/tienda/m','2szi');")
                  label.inactive(for='radio1')
                    span
                      span
          .lp-aplicar-filtro
            a.lp-aplica-filtros(href='') Aplicar filtro(s)