#controls-order
      .arrow-left.arrow-disable
        span.glyphicon.glyphicon-arrow-left.arrow-gray
        |              Anterior
      .arrow-right.arrow-enable
        | Siguiente&nbsp;
        span.glyphicon.glyphicon-arrow-right