.page_overlay1
      // </div>
      // Start : recommended products carousel
      script(type='text/javascript', charset='utf-8', src='/mobileAssets/js/atgsvcs.js')
      script(type='text/javascript', src='/mobileAssets/js/homePage.js')
      // Start: product-carousel-slot
      #cs-cfg.notranslate.displayNone(style='display: none;')
        dl.cs-cfg.displayNone(style='display: none;')
          dt retailerId
          dd 8ba3f9f2
          dt customerId
          dd 1673033737
          dt view
          dd
      .row-fluid
        .content-container.product-car-slot.recomended-products
          h3.product-car-head
            | Te recomendamos:
          .globalslidercontainer
            input.itemCount(type='hidden', hreflang='2', value='4')
            ul#category-slot.thumbnails.globalslider.pdt-list.cs-slot(itemscope='itemscope', itemtype='http://schema.org/Product')
              span(style='display: none;')
                dl.cs-cfg.displayNone
                  dt numRecs
                  dd 8
                  dt -inc-price
                  dd true
                  dt -rec-builder
                  dd build_scroll_recomm
                  dt dataItems
                  dd
                    dl
                      dt lowPrice
            .arrow-control.row-fluid
              .arrow-container
                .prev
                .next
      // End : product carousel
      #view-promo-modal.modal.fade.view-promo-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      #compare-error.modal.fade.view-promo-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-body.row-fluid
          span.span2.compare-warning
            img(src='/mobileAssets/images/icons/warning-sign-icon.png', alt='close')
          span.span10.compare-error-text.phone-hide El número máximo de productos para comparar es 4
          span.span6.compare-error-text.hidden-desktop.hidden-tablet El número máximo de productos para comparar es 2
          a.close-btn(title='close', href='javascript:void(0);')
            img(src='/mobileAssets/images/gift-close.png', alt='close')
      #compare-error-mobile.modal.fade.view-promo-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-body.row-fluid
          span.span2.compare-warning
            img(src='/mobileAssets/images/icons/warning-sign-icon.png', alt='close')
          span.span10.compare-error-text.phone-hide El número máximo de productos para comparar es 4
          span.span6.compare-error-text.hidden-desktop.hidden-tablet El número máximo de productos para comparar es 2
          a.close-btn(title='close', href='javascript:void(0);')
            img(src='/mobileAssets/images/gift-close.png', alt='close')
      .clear