.page_overlay1
      // </div>
      // Start : recommended products carousel
      script(type='text/javascript', charset='utf-8', src='/mobileAssets/js/atgsvcs.js')
      // Start: product-carousel-slot