.pdt-list-container
  .product-diffr-options-main
    .span6.filter-container(style='min-height: 100px!imporant')
      .row-fluid.lp-plp-close-sec
        .filter-close1.span9
          i.icon-filter-arrow-left
          span REGRESAR
        .span3
          span(onclick="javascript:clearAllFilters('/tienda/m','')")
            | Limpiar
            | filtros
      .clear
      include filters.jade
input#checkSeo(type='hidden', value='true')
.pdt-list-container
  .row-fluid
    .span12.filter-tabs-container
      ul#lilength.filter-tabs-right
      ul#lilength.filter-tabs-right
        li.filter-tabs.selected(onclick="location.href='/tienda/m/fútbol/N-2szh'") Jerseys
  input#viewType(type='hidden', value='grid')
  // <div id="productos"  class='product_listing'>
  include all-list-product.jade
  include footer-pagination.jade
  .pdt-list-detail-sec
