li.span3(onclick="javascript:plpProductInteraction('Jersey Nike América Tercera Equipación para Caballero','1044406350','1299.0','NIKE','AZUL',1);")
  input.gtmProdName(type='hidden', value='Jersey Nike América Tercera Equipación para Caballero')
  input.gtmSkuId(type='hidden', value='1044406396')
  input.gtmPlPrice(type='hidden', value='1299.0')
  input.gtmPlpBarand(type='hidden', value='NIKE')
  input.gtmPosition(type='hidden', value='1')
  input.gtmPlpColor(type='hidden', value='AZUL')
  .compare-check
    input#1044406350icd(type='checkbox', name='compareProductCheckbox', onclick="addProduct('1044406350','cat480393','/tienda/m');")
    label(for='id1') Selecciona para comparar
  .lrpl-thumbnail
    a(href='/tienda/m/jersey-nike-américa-tercera-equipación-para-caballero/1044406350')
      img#1044406350.lazy.foto-modulo.foto-list.isimage(src='/assets/images/ajax-loader.gif', data-original='http://media23.liverpool.com.mx/web/images/products/es_MX/sm/1044406350.jpg')
  .prod-info
    .prod-title
      a(href='/tienda/m/jersey-nike-américa-tercera-equipación-para-caballero/1044406350', title='prod-title')
        | Jersey Nike América Tercera Equipación para Caball ...
    .col-xs-6(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
      meta(itemprop='priceCurrency', content='MXN')
      span.newprice(itemprop='price')
        | $1,299
    p.clearproduct
  .rating-str.mod-big
    i.rat-full
    i.rat-full
    i.rat-full
    i.rat-full
    i.rat-full
    span.rating-number
      b (1)
  .bottom-flags-row
    .bottom-flags
#view-promo-modal.modal.fade.view-promo-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')