.pdt-list-container
include filtros.jade
input#checkSeo(type='hidden', value='true')
.pdt-list-container
  .row-fluid
    .col-xs-12.filter-tabs-container
      ul#lilength.filter-tabs-right
      ul#lilength.filter-tabs-right
        li.filter-tabs.selected(onclick="location.href='/tienda/m/fútbol/N-2szh'") Jerseys
  input#viewType(type='hidden', value='grid')
  // <div id="productos"  class='product_listing'>
  // <div id="productos"  class='product_listing'>
  include all-list-product-ebook.jade
  include footer-pagination.jade
  .pdt-list-detail-sec
