/*armando footer*/
.footer {
    color: #fff;
    font-family: 'Roboto Medium', sans-serif;
}
.footer .footer-top {
    background: none;
    color: #333;
    padding-bottom: 0;
    padding-left: 0;
    clear: both;
}
.footer-top a {
    color: #000;
    font-size: 11px;
}
.footer-header {
    display: block!important;
    width: 100%!important;
    padding: 10px 0;
}
.footer-header {
    background: #cbd5d7;
    color: #000;
    /*padding: 1.02em;*/
    /*width: 50%;*/
    box-sizing: border-box;
    /* height: 50px; */
}
.footer-schedules {
    width: 100%;
    /*font-size: 11px;*/
    background: #cbd5d7;
    color: #000;
    padding: 0.5em;
    font-size: 12px!important;
    box-sizing: border-box;
}
.footer-schedules .row-fluid {
    text-align: center;
}
.footer-textleft {
    width: 70% !important;
    display: inline;

}
.span3.footer-imageleft {
      width: 25% !important;
    display: inline!important;
    text-align: left!important;
        padding-left: 1.75em;
    color: #e10098;
}
.span3.footer-imageleft a {
    display: inline-block;
    width: 23px;

}
.footer-contact {
  width: 100%;
    padding: 1.02em 0;
    background: #e4e8e9;
    color: #000;
    font-size: 12px!important;
    box-sizing: border-box;
    height: 50px;
}
.footer-contact .row-fluid {
    text-align: center;
}
.footer-contact span a {
    color: #e10098;
}
.footer-bottom {
    background: #f3f3f3;
    color: #333;
    display: block;
}
.footer-bottom .footerbtcontent {
    margin-bottom: 0;
        box-shadow: 0px 2px 25px 0px #ccc;
        padding-bottom: 0px;
        background: #fff;
    margin: 0 auto;
    width: 90%;
}

.row-fluid.footerbtcontent .span3 .sub-section {
    padding: 0;
}
.row-fluid.footerbtcontent .span3 .sub-section h3 {
    margin: 0;
    padding-right: 10px!important;
    padding-left: 10px!important;
    padding-top: 14px!important;
    padding-bottom: 15px!important;
        background: url("/mobileAssets/images/sprite/brand_right_arrow-pink.png") no-repeat right center;
        cursor: pointer;
}
.footer-bottom .sub-section h3 {
    background-position: 98% center !important;
    padding: 0!important;
}
.sub-section h3 {
    font-weight: bolder;
    line-height: normal;
}
.mt0 {
    margin-top: 0px !important;
}
.footer .footer-bottom .sub-section a, .footer .footer-bottom .sub-section h3 font font font font {
    font-size: 18px!important;
}
.footer-bottom .sub-section h3 font font font font {
    color: #000;
    font-weight: 500;
}
.footer-bottom .sub-section {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    margin-top: 0 !important;
    padding-top: 14px;
    border-bottom: 1px solid #CDCDCD;
    height: auto;
    min-height: 22px;
}
.row-fluid.footerbtcontent .span3 .sub-section a {
    display: block;
    width: 100%;
    color: #000!important;
    text-decoration: none;
}
.footer-bottom .sub-section h3 {
    font-size: 14px;
    padding: 0 25px;
    margin-bottom: 0;
    cursor: pointer;
}
.footer .footer-bottom .sub-section a, .footer .footer-bottom .sub-section h3 font font font font {
    color: #000!important;
    font-weight: 500;
    }
.phone-hide {
    display: none;
}
.bootom-footer {
    width: 100%;
    background: #f3f3f3;
    height: 7em;
    text-align: center;
        margin: 4px auto;
}
.bootom-footer ul.breadcrumb.bread-terms {
    text-align: center;
    margin: 0!important;
}
ul.breadcrumb.bread-terms {
    width: 100%;
}
ul.breadcrumb.bread-terms {
    display: block!important;
}
.bootom-footer .breadcrumb {
    /*text-align: center;*/
    /*width: 100%;*/

    background: #f3f3f3;
    border: 0;
    /*margin: 0 auto 0 1.5em;*/
    /* margin-left: 9px; */
    min-height: 20px;
        list-style: none;
    border-radius: 4px;
}
.breadcrumb li {
    color: #505050;
}
.bootom-footer .breadcrumb li {
    background: #f3f3f3;
    margin: 0;
    border: 0;
    padding: 0;
}
.bootom-footer .breadcrumb li:last-child {
    background: none;
    border: none;
}
.breadcrumb li a {
  float:left; 
}
.bootom-footer .breadcrumb li a {
    background: #f3f3f3;
    padding: 0;

}
.bootom-footer ul.breadcrumb.bread-terms li {
    display: inline-block!important;
    float: none!important;
    vertical-align: top;
        
}
.bootom-footer .breadcrumb li span {
    background: #f3f3f3;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.breadcrumb>li>.divider {
    padding: 0 5px;
    color: #ccc;
}
.bootom-footer .divider {
    display: inline-block!important;
}
.bootom-footer ul.breadcrumb.bread-terms li:first-child {
      background: none;
    margin: 0!important;
}
ul.breadcrumb.bread-terms {
    display: block!important;
}
.bootom-footer .breadcrumb.bread-terms li a {
    color: #e10098;
    font-size: 12px;
}

.bootom-footer ul.breadcrumb.bread-terms {
    text-align: center;
    margin: 0!important;
}
ul.breadcrumb.bread-terms.tmc_wap_footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
ul.breadcrumb.bread-terms.tmc_wap_footer li {
    position: relative;
    width: 100%;
    }
ul.breadcrumb.bread-terms.tmc_wap_footer li a {
    margin: 0!important;
}
ul.breadcrumb.bread-terms.tmc_wap_footer li a {
    /* background-color: #D7D7D7; */
    width: 100%;
    display: block;
    text-align: center;
    /* color: #000; */
    padding: 10px;
    font-size: 1.28em;
}
p.temporary-label-footer {
    height: 45px;
    background: #f5f5f5!important;
    margin-bottom: 0px;
}
ul.breadcrumb.bread-rights {
    display: block!important;
    text-align: center;
}
.bootom-footer .bread-rights {
    margin: 0 auto;
    width: 100%;
    padding-left: 0%;
}
