extends product-item
block var1
  - var productTitle = ' Laptop Macbook Air 11 Pulgadas 4GB 256 Apple'
  - var productImage = 'http://media23.liverpool.com.mx/web/images/products/es_MX/lg/1036244492.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'