extends product-item
block var1
  - var productTitle = 'Edredón King Size Sealy Blanco'
  - var productImage = 'http://media10.liverpool.com.mx/web/images/products/es_MX/lg/1007934919.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'