block var1
  - var productTitle = 'Tenis Lacosteasdasd Dama'
  - var productImage = 'http://media14.liverpool.com.mx/web/images/products/es_MX/lg/1034557400.jpg'
  - var orderStatus = 'Preparando tu pedido'
block var2
  - var clickable = true
block var3
  - var priced = false
block var3
  - var canceled = false
block main_class
 .product.item.col-xs-12.col-sm-6
  if clickable && canceled
   .first_item-module.product_item.canceled.clickable
     include ./product-content.jade
  else if clickable
   .first_item-module.product_item.clickable
     include ./product-content2.jade
  else if priced
   .first_item-module.product_item.ebook
     include ./product-content3.jade
  else
   .first_item-module.product_item.noclickable
     include ./product-content.jade

