extends product-item
block var1
  - var productTitle = 'Bicicleta Wilier R27.5 Grande'
  - var productImage = 'http://media11.liverpool.com.mx/web/images/products/es_MX/lg/1044304950.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'