extends product-item
block var1
  - var productTitle = 'Navaja para Caballero Victorinox'
  - var productImage = 'http://media10.liverpool.com.mx/web/images/products/es_MX/lg/38508504.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'