extends product-item
block var1
  - var productTitle = 'HUNA EL SECRETO HAWAIANO'
  - var productImage = 'http://media18.liverpool.com.mx/web/images/products/es_MX/lg/1036713387.jpg'
  - var basePrice = ''
  - var salePrice = '$999,999'
block var2
  - var clickable = false
block var3
  - var priced = true

