extends product-item-nostrike
block var1
  - var productTitle = 'One Essential 5ml y Solfistic Miss'
  - var productImage = 'http://media18.liverpool.com.mx/web/images/products/es_MX/sm/1042609237.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'