.col-xs-4.item-image.product-image
  img.chck-img(src=''+productImage, border='0', onerror="defaultImageonCart(this,'/mobileAssets/images/fillers/filler_REC.gif')")
.col-xs-8.item-attributes
  .col-md-7.item-descr-price-sku
    ul.item-list-attributes
      li.li_title
        span.product-title  #{productTitle} 
      li.li_price
        span.precio-tachado-modulo #{basePrice} 
        span.newprice #{salePrice}
    .rating-list.mod-plp
      i.rat-empty
      i.rat-empty
      i.rat-empty
      i.rat-empty
      i.rat-empty
      span.rating-number
        b (0)
    .banderas.banderas_plp
      span.icon-liv-ban-entrega-express
      span.icon-liv-ban-libros-importacion
      span.icon-liv-ban-piezas-limitadas