extends product-item
block var1
  - var productTitle = 'iPhone 6s 16 gb gris movistar'
  - var productImage = 'http://media12.liverpool.com.mx/web/images/products/es_MX/lg/1042368349.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'