extends product-item
block var1
  - var productTitle = 'CHAMARRA MARMOT NANO PRO PARA CABALLERO'
  - var productImage = 'http://media17.liverpool.com.mx/web/images/products/es_MX/lg/1034531095.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'