extends product-item
block var1
  - var productTitle = 'SOLITARIO PARA DAMA JEAN BAPTISTE'
  - var productImage = 'http://media17.liverpool.com.mx/web/images/products/es_MX/lg/1033179835.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'