extends product-item
block var1
  - var productTitle = 'Tenis Lacoste Dama'
  - var productImage = 'http://media16.liverpool.com.mx/web/images/products/es_MX/lg/1042608722.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'

