extends product-item
block var1
  - var productTitle = 'Extractor de Jugos Hamilton Beach Big Mouth Rojo / Negro 67606/MX'
  - var productImage = 'http://media22.liverpool.com.mx/web/images/products/es_MX/lg/1041079653.jpg'
  - var basePrice = '$999,999'
  - var salePrice = '$999,999'