/*
_h = header
_wh = white header
_pf = pink footer
_af = action footer
*/
#menu_icn, #logo_icn,#bag_icn,#sesion_h_icn,#locator_h_icn, #search_wh_icn,#locator_pf_icn, #call_af_icn, #arrow_up_icn, #arrow_down_icn{
	background-image: url('/mobileAssets/images/sprite/redisign_SPRITE.png');
    background-repeat: no-repeat;
}
#menu_icn{
	background-color: #e10098;
	width: 53px;
	height:53px;
	background-position: -154px -106px;
}

#logo_icn{
	width:152px; 
	height:38px;
	background-position: -19px -19px;
	margin: 0 auto 0 4.6em;
}
.header-navigation-right{ 
	padding-top:2%!important;
}
#bag_icn{
	width:33px;
	height: 33px;
	background-position: -63px -72px;
    /*margin-right: 150px;
    float: right;*/
}

#sesion_h_icn{
    background-color: #fff;
    width:16px;
    height: 16px;
    background-position: -18px -121px;
    display:inline-block;
    vertical-align: bottom;
    margin-right: 4px;
    margin-bottom: 1px;
}
#locator_h_icn{
    background-color: #fff;
    width:16px;
    height: 16px;
    background-position: -65px -121px;
    display:inline-block;
    vertical-align: bottom;
    margin-right: 4px;
    margin-bottom: 2px;
}
#locator_pf_icn{
	width:18px;
	height:18px;
	background-position: -66px -169px;
}
#search_wh_icn{
	background-color: #e10098;
	height: 2.86em!important;
    width: 2.625em!important;
    margin-left: -4px;
	background-position: -112px -115px;
	display: inline-block;
	border: 0;
	    vertical-align: top;

}
#call_af_icn{
	width:18px;
	height:18px;
	background-position: -16px -170px;
	display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;

}
#arrow_up_icn {
    width: 14px;
    height: 14px;
    background-position: -167px -250px;
    margin: 0 auto 0 auto;
}
/*.header_search-button {
  background-color:#e10098;
  background-image: url('/mobileAssets/images/sprite/redisign_SPRITE.png') !important;
  background-repeat: no-repeat;
  background-position: -66px -169px ;
  border-radius: 0;
  height: 2.7em!important;
  width: 2.625em!important;
}*/


/*Separar en hoja de estilo especial para home*/
.homesearch-position .form-control{
	font-size: 16px;
}
p.temporary-label-footer {
    background: #f3f3f3;
    margin-bottom: 0px!important;
}
.bootom-footer .breadcrumb.bread-terms li a {
    color:#e10098;
    font-size: 12px;
}
.homesearch-position .form-control {
    width: 87% !important;
    }
 .content-container.banner-container {
    margin-top: 0px!important;
}
.span3.footer-imageleft {
	color:#e10098;
}
div.footer-contact > div > span > a {
	color:#e10098;
}
