@import "jeet"
@import "normalice.css"
footer#footer
	width:100%;
	height:100%;
footer#footer h1
	text-align:center;
	font-family:roboto;
	font-size:20px;
	font-weight: 200 !important;
	color:#ccc;

#footer-menu
	width:100%;
	height:auto;
	background:#fff;
	text-align:center;
	clear:both;
	margin-bottom:10px;
	
	
#footer .footer-row
	width:38.555%;
	height:30px;
	line-height:2px;
	border:1px solid #ccc;
	float:left;
	margin:0px auto 2% 4%;
	padding:10px;
	text-align:center;
	
#footer .footer-row p a
	color:#000;
	font-size:13px;
	font-family:roboto;
	font-weight: 200 !important;
	text-decoration:none;
	
#footer footer h3
	text-align:center;
	font-family:roboto;
	font-size:15px;
	font-weight: 500 !important;
	color:#000;
	clear:both;
	
	
#footer #footer-social
	width:100%;
	height:50px;
	line-height: 50px;
	background:#fff;
	text-align:center;
	
#footer .social-row
	width:33.333%;
	height:7%;
	float:left;
	
#footer #footer-bottom
	width:100%
	height:auto;
	background:#ccc;

#footer #bread-one
	width 100%
	height 50px
	background #ccc
	
	
	
#footer ul#footer-bread-one
	width:100%;
	height:40px;
	line-height: 40px;
	text-align:center;
	padding 0!important
	
	
#footer #footer-bread-one > li 
	width:auto;
	float:left;
	text-align:center;
	margin:5px 10px;
	@media (min-width: 720px)
		width:30%;
	@media (min-device-width : 480px)
		width:30%;
	
#footer #footer-bread-one > li > a
	text-align:center;
	font-family:roboto;
	font-weight: 200 !important;
	color:#000;
	font-size:12px;

#footer p.text-price
	text-align:center;
	font-family:roboto;
	font-weight: 200 !important;
	color:#000;
	font-size:11px;
	
#footer #bread-two
	width 100%
	height 70px
	background #ccc
	clear both
	
	
	
#footer ul#footer-bread-two
	width:85%;
	height:40px;
	text-align:center;
	padding 0!important
	margin 0 auto 0 auto;
	@media (min-width: 720px)
		width:60%;
	@media (min-device-width: 480px)
		width:50%;		
	
	
	
#footer-bread-two > li 
	width:auto;
	float:left;
	text-align:center;
	
	
	
#footer-bread-two > li > a
	text-align:center;
	font-family:roboto;
	font-weight: 200 !important;
	color:#000;
	font-size:12px;
	text-align:center;
	text-decoration:none;


	
	
	

	
	
	
