#myModal_search.modal.fade.modal-fullscreen.bs-example-modal-lg-search(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-size.modal-dialog.modal-lg
    .modal-size.modal-content
      .modal-header
        div.cerrar-modal-search.close_search
          i.icon-arrow-return.icon-liv-flecha-izquierda
          span REGRESAR
      .modal-body
        include ../header/search_module.jade