#full-width.modal.container.fade(tabindex='-1', style='display: none;')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h4.modal-title Full Width
  .modal-body
    p This modal will resize itself to the same dimensions as the container class.
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin ipsum ac ante fermentum suscipit. In ac augue non purus accumsan lobortis id sed nibh. Nunc egestas hendrerit ipsum, et porttitor augue volutpat non. Aliquam erat volutpat. Vestibulum scelerisque lobortis pulvinar. Aenean hendrerit risus neque, eget tincidunt leo. Vestibulum est tortor, commodo nec cursus nec, vestibulum vel nibh. Morbi elit magna, ornare placerat euismod semper, dignissim vel odio. Phasellus elementum quam eu ipsum euismod pretium.
  .modal-footer
    button.btn.btn-default(type='button', data-dismiss='modal') Close
    button.btn.btn-primary(type='button') Save changes
